@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 450px;
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.container h2 {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #222;
  margin-bottom: 1rem;
}

.container h3 {
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #444;
  margin-bottom: 1rem;
}

.container form {
  display: flex;
}

.container form input[type="number"] {
  flex: 1;
  border: 1px solid #ccc;
  border-right: none;
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
  background-color: white;
  padding: 0 0.5rem;
  outline: none;
}

.container form input[type="submit"] {
  padding: 0.6rem 1.5rem;
  border: 1px solid #ccc;
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  background-color: #eee;
  cursor: pointer;
}

.container form input[type="number"],
.container form input[type="submit"] {
  font-size: 14px;
  font-weight: 400;
  color: #222;
  letter-spacing: 1px;
}

.container .result {
  margin-top: 1rem;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
}
